#gameboard {
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 40px;
    width: 40px;
    position: relative;
    z-index: -10;
}

.square svg {
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
}

path {
    position: relative;
    z-index: -10;
}

.Piece {
    position: relative;
    z-index: 9;
}

.beige {
    background-color: rgb(224, 174, 98);
}

.brown {
    background-color: rgb(91, 66, 29);
}

.black {
    fill: rgb(48, 33, 2);
}

.white {
    fill:rgb(237, 230, 219)
}

